.ColorPicker__option {
  display: inline-block;
  width: 40px;
  height: 40px;
  outline: 1px solid red;
  margin: 4px;
}

.ColorPicker {
  padding: 10px;
}

.ColorPicker__title {
  line-height: 1.3;
}
